body {
  font-family: sans-serif,Arial;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  color: #575757;
  text-align: center;
  padding: 10px 10px;
}

.box-content {
  max-width: 500px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #373533;
  color: #ffffff;
  padding: 20px 10px;
  border-radius: 50px;
  text-decoration: none;
}
nav ul li{
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #68157f;
  text-decoration: none;
}

.hero {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 800px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 10px 100px;
  border-radius: 50px;
  text-decoration: none;
}

.logo {
  padding: 100px 0;
  text-align: center;
}

.logo-gallery {
  display: flex;
  justify-content: space-around;
}

.logo {
  margin-bottom: 2px;
}

.logo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1000px;
}

.projects {
  padding: 5px 0;
  text-align: center;
}

.project-gallery {
  display: flex;
  justify-content: space-around;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}


.handles{
  display: grid;
  margin-left: 45%;
  padding: 4px;
  text-decoration: none;
}
.handles a{
color: #000000;
font-size: 1em;
margin: 1px;
}
.icon{
  color: #fff;
  gap: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
